{% extends 'layout.html'%}

{% block content %}
    <nav class="navbar navbar-light bg-dark ">
        <div class="container-fluid ">
        <span class="navbar-brand mb-0 h1 text-success text-center">Aust1inn News Centre</span>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group">
                    <h4>News Sources</h4>

                    {% for source in sources %}
                        <li class="list-group-item"><a class="link-secondary text-muted" href="/article/{{source.id}}" target="blank">{{source.id}}</a></li>
                    {% endfor %}
            </div>
            <div class="col-md-9">
                <h4>Today's headlines</h4>
                <div class="d-flex flex-wrap">

                {% for headline in headlines %}
                        <div class="card mt-3 px-2" style="width: 18rem;">
                            <img src="{{headline.image}}" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">{{headline.title}}</h5>
                              <p class="card-text ">{{headline.description}}</p>
                              <p class="blockquote-footer">By {{headline.author}}</p>
                              <p>posted on {{headline.time}}</p>
                              <a href="{{headline.url}}" target="blank" class="btn btn-primary">Read more</a>
                            </div>
                    </div>
                    
                {% endfor %}
                </div>

            </div>
        </div>
       
    </div>
   
{% endblock%}
