{% extends 'layout.html'%}
{% block content %}

    <div class="d-flex flex-wrap">

    {% for headline in headlines %}
            <div class="card mt-3 px-2" style="width: 18rem;">
                <img src="{{article.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{article.title}}</h5>
                  <p class="card-text ">{{article.description}}</p>
                  <p class="blockquote-footer">By {{article.author}}</p>
                  <p>posted on {{article.time}}</p>
                  <a href="{{article.url}}" target="blank" class="btn btn-primary">Read more</a>
                </div>
        </div>
        
    {% endfor %}
    </div>

{% endblock%}
